   <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-card">
        <div class="p">
          Download EasyHostels.apk (v1)
        </div>
        <div class="panel-body">
          <a href="http://vvuconnect.net/eh+.apk" target="_blank" class="text-sm btn btn-lg btn-rounded btn-stroke btn-success">
          <i class="fa fa-android fa-3x pull-left"></i>
          <span class="block clear text-left m-v-xs">Get it from <b class="text-lg block font-bold">Google Play</b>
          </span>
        </a>
        </div>
  
      </div>
    </div>
     <div class="col-sm-6">
      <div class="panel panel-card">
        <div class="p">
          Quick Actions
        </div>
        <div class="panel-body">
          <a ui-sref="hostels.browse" class="text-sm btn btn-lg btn-rounded btn-stroke deep-purple">
          <i class="fa fa-home fa-3x pull-left"></i>
          <span class="block clear text-left m-v-xs">Show Hostels<b class="text-lg block font-bold">My Hostels</b>
          </span>
        </a>
        </div>
       
      </div>
    </div>
  </div>


 

