<nav ui-nav>
  <ul class="nav">
    <li class="nav-header m-v-sm hidden-folded">
      Side Menu
    </li>
    <li ui-sref-active="active">
      <a md-ink-ripple ui-sref="hostels.dashboard">
        <i class="icon mdi-action-dashboard i-20"></i>
        <span class="font-normal">Dashboard</span>
      </a>
    </li>
  
    <li ng-class="{active:$state.includes('hostels')}">
      <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon mdi-social-domain i-20"></i>
        <span class="font-normal">My Hostels</span>
      </a>
      <ul class="nav nav-sub">
        <li ui-sref-active="active">
          <a md-ink-ripple ui-sref="hostels.create">
            <span>Create</span>
          </a>
        </li>
        <li ui-sref-active="active">
          <a md-ink-ripple ui-sref="hostels.browse">
            <span>Browse</span>
          </a>
        </li>
      </ul>
    </li>

  
  
  </ul>
</nav>
