<md-dialog aria-label="Mango (Fruit)" style="width:800px;" ng-controller="CreateGoogleDiaglogMapCtrl">
  <md-subheader class="md-sticky-no-effect">Choose Location</md-subheader>
  <md-content>
  <div class="row" style="margin-left: 0px;margin-right: 5px;">
  <div class="col-md-12" >
              <div style="position:relative; height:100%; min-height:320px" ui-map="myMap"
                   ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
                   ui-options="mapOptions">
              </div>
            </div>
  </div>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="answer('cancel')">
     Cancel
    </md-button>
    <md-button ng-click="answer('upload')" class="md-primary">
      Choose
    </md-button>
  </div>
</md-dialog>
