 <a ui-sref="hostels.create" class="md-btn md-fab md-fab-bottom-right pos-fix red"><i class="mdi-content-add i-24 text-white"></i>
<md-tooltip>
        Add New Hostel
</md-tooltip>
</a>
	<div class="row">
		<div class="col-md-12"> <form class="panel panel-card p-sm ng-pristine ng-valid">
	        <input placeholder="Search Hostels" ng-model="search" autofocus="" class="form-control input-lg no-border no-bg ng-pristine ng-valid ng-touched" tabindex="0" aria-invalid="false" style="">
	      </form>
      </div>
	</div>

	  <div class="row">
	  	
	  	<div class="col-sm-4"  ng-repeat="hostel in hostels | filter: search">
	      <div class="panel panel-card">
	        <div class="item">
	        <div md-ink-ripple="" style="cursor:pointer;"  href="" ng-click="show(hostel)">
	        	<!-- <img err-src="images/c5.jpg" ng-src="{{hostel.thumbnail}}" class="w-full r-t"> -->
	        	<img err-src="images/c5.jpg" ng-src="http://{{mother}}/images/hostel/{{hostel.id}}.jpg" class="w-full r-t" />
	        	<div class="md-ripple-container"></div>
	        </div>
	        </div>
	          <div class="dropdown card-tools" style="right:20px">
              <button md-ink-ripple="" data-toggle="dropdown" class="md-btn md-flat md-btn-circle" aria-expanded="false">
                <i style="color:white" class="mdi-navigation-more-vert text-md"></i>
              <div class="md-ripple-container"></div></button>
              <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">
                <li><a href="" ng-click="edit(hostel)" tabindex="0" class="">Edit</a></li>
                <li><a href="" ng-click="remove(hostel)" tabindex="0">Remove</a></li>
              </ul>
            </div>
	        <div class="p">
	          <h3>{{hostel.display_name}}</h3>
	          <p>
	            {{hostel.short_description}}
	          </p>
	        </div>
	      </div>
	    </div>

	  </div>
