<form ng-show="form">
	<input disabled ng-model="hostel.user_id" type="hidden">
	<div class="card">
	  <div class="card-heading deep-purple">
	    <h2>Hostel Details</h2>
	  </div>
	  <div class="card-body deep-purple">
	    <div class="row row-sm">
	      <div class="col-sm-6">
	        <div class="md-form-group">
	          <input class="md-input md-input-white" ng-model="hostel.display_name" >
	          <label>Display Name</label>
	        </div>
	      </div>
	      <div class="col-sm-6">
	        <div class="md-form-group">
	          <input class="md-input md-input-white" ng-model="hostel.address">
	          <label>Address</label>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="card-body">
	    <div class="row row-sm">
	      <div class="col-sm-4">
	        <div class="md-form-group">
	          <input class="md-input" ng-model="hostel.contact_phone">
	          <label>Contact Phone</label>
	        </div>
	      </div>
	      <div class="col-sm-4">
	        <div class="md-form-group">
	          <input class="md-input" ng-model="hostel.contact_email">
	          <label>Contact Email</label>
	        </div>
	      </div>
	    	   <div class="col-sm-4">
	        <div class="md-form-group">
	          <input class="md-input" ng-model="hostel.display_price">
	          <label>Display Price</label>
	        </div>
	      </div>

	      <div class="col-sm-4">
	        <div class="md-form-group">
	          <input class="md-input" disabled placeholder="7.946527"  ng-model="hostel.lat">
	          <label>Latitude (Geo)</label>
	        </div>
	      </div>
	      <div class="col-sm-4">
	        <div class="md-form-group">
	          <input class="md-input" disabled placeholder="-1.023194" ng-model="hostel.lng">
	          <label>Longitude (Geo)</label>
	        </div>
	      </div>
	    	  <div class="col-sm-4">
			        <div class="md-form-group">
			          <button md-ink-ripple="" ng-click="showMapDialog($event)" class="md-btn md-raised m-b btn-fw bg-white">Set Location<div class="md-ripple-container"></div></button>
			        </div>
	      		</div>
	      <div class="col-sm-12">
	        <div class="md-form-group">
	          <textarea class="md-input" ng-model="hostel.short_description" rows="4"></textarea>
	          <label>Short Description</label>
	        </div>
	      </div>
	    </div>
	    <div class="row">
	    	<button md-ink-ripple=""  type="submit" class="md-btn md-flat m-b btn-fw text-accent" ng-click="shipIt()">Save<div class="md-ripple-container"></div></button>
	    </div>
	   
	  </div>
	</div>
</form>

<form ng-show="image">
	<div class="card">
	  <div class="card-heading deep-purple">
	    <h2>Upload Image</h2>
	  </div>
	  <div class="card-body">
		
		<div class="row" style="padding:30px;margin-right:45px">
    <div class="col-sm-6">
      <div class="m-r-xs m-b-xs">
        <div class="card" style="height:280px">
          <img-crop 
            image="myImage" 
            result-image="myCroppedImage"
            result-image-size="280"
            area-type="{{cropType}}"
          ></img-crop>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="inline">
        <div class="card">
          <img ng-src="{{myCroppedImage}}" />
        </div>
      </div>
      
    </div>
	
  </div>

  <div class="row">
  	     <div class="form-file" style="margin-left: 47px;margin-top: -30px;">
            <input type="file" id="fileInput">
            <button class="btn btn-default">Choose New Picture</button>
         </div>     
		<input type="hidden" ng-model="hostel_image">
  </div>
	  	
	    <div class="row">
	    	<button md-ink-ripple="" type="submit" style="float:right" class="md-btn md-flat m-b btn-fw text-accent" ng-click="sendImage()">Finish<div class="md-ripple-container"></div></button>
	    </div>
	  </div>
	</div>
</form>

