<div class="row row-sm">
  <div class="col-sm-5">
    <div class="panel panel-card">
      <div class="r-t pos-rlt" md-ink-ripple>
        <div class="p-lg bg-white-overlay text-center r-t">
          <img ng-src="{{hostel_profile_img}}" class="img-circle img-responsive" style="    border-radius: 50%;
    width: 80px;
    position: absolute;
    left: 20px;
    top: 30px;"  />
    		<div class="row" style="margin-left: 60px;">
    			<div class="m-b m-t-sm h2">
            <span class="">{{hostel.display_name}}</span>
          </div>
          <div style="margin-top: -15px;margin-bottom: 10px;">
            <a class="text-muted text-sm">
            {{hostel.address}}
            </a>
          </div>		
    		</div>
          
         <button ng-click="edit()" style="margin-left: 60px;" class="md-btn btn-sm md-raised m-b btn-fw {{ user.color }}">Edit</button>
            <p>
          </p>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        
      </div>
    </div>
  </div>
</div>
