<div class="box bg-white">
  <div class="navbar md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
      <!-- brand -->
      <a class="navbar-brand">
       <img src="images/logo.png" alt="" style="
    height: 48px;
    line-height: 140px;
">
        <span class="hidden-folded m-l inline">{{app.name}}</span>
      </a>
      <!-- / brand -->
  </div>
  <div class="box-row">
    <div class="box-cell scrollable hover">
      <div class="box-inner">
        <div class="p hidden-folded" ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'" >
          <div class="rounded w-64 bg-white inline pos-rlt">
             <img ng-src="{{app.user.thumbnail}}" class="img-circle img-responsive"  />
          </div>
          <a class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account">
            <span class="block font-bold">{{app.user.name}}</span>
            <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span>
            {{app.user.email}}
          </a>
        </div>
        <div id="nav" ng-include="'views/partials/aside.nav.html'"></div>
        <div id="account" class="hide m-v-xs">
          <nav>
            <ul class="nav">
            <li>
                <a md-ink-ripple ui-sref="hostels.profile">
                  <i class="icon mdi-action-perm-contact-cal i-20"></i>
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <a md-ink-ripple ng-click="doLogout()">
                  <i class="icon mdi-action-exit-to-app i-20"></i>
                  <span>Logout</span>
                </a>
              </li>
              <li class="m-v-sm b-b b"></li>
              <li>
                <a md-ink-ripple ui-fullscreen>
                  <i class="icon mdi-navigation-fullscreen i-24"></i>
                  <span>Fullscreen</span>
                </a>
              </li>
             
              <li class="p p-v-sm hidden-folded">
                <div class="m-b-sm">Color Scheme:</div>
                <div>
             
              
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'deep-purple', accent: 'blue', warn: 'light-blue'}">
                    <span class="deep-purple col-xs-4 box-col"></span>
                    <span class="blue col-xs-4 box-col"></span>
                    <span class="light-blue col-xs-4 box-col"></span>
                  </div>
                  
                </div>
              </li>
              

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
